.list-group {
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 1020px) {
  .list-group {
    margin-left: 70px;
  }
}

.list-group-item {
  padding: 0 2px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  font-size: 12px;
  height: 19px;
  color: #827e7e;
}

.list-group-item:first-child {
  border-radius: 2px;
}

.list-group-item:last-child {
  border-radius: 2px;
}

.clamp-lines__button {
  display: none;
}

.card-stars {
  position: absolute;
  bottom: 10px;
}

@media (max-width: 1020px) {
  .card-stars {
    right: 15px;
  }
}

.ant-rate {
  font-size: 15px !important;
}
